@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Palette+Mosaic&display=swap');

.conteiner{
    width: 91%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Comfortaa';
    font-weight: 700;
    color: #f2f2f2;
}

.header a, .footer h3, .footer p, .footer a{
    color: #f2f2f2;
}

.logo a, .logo-media a{
    font-family: 'Comfortaa', cursive;
    font-family: 'Palette Mosaic', cursive;
}

html, body{
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?cs=srgb&dl=pexels-c%C3%A1tia-matos-1072179.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    position:fixed;
    width: 90%;
    max-width: 1070px;
    background-color: rgba(3, 38, 59, 0.6);
    border-radius: 0 0 16px 16px;
    margin:auto;
    right:0;
    left:0;
    top: 0;
    padding: 0 5px 0 5px;
}

.header .line-menu ol{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


a{
    color: black;
    text-decoration: none;
}

.content{
    padding-top: 55px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction:column;
    flex: 1 0 auto;
}



.content *{
    color: rgb(255, 221, 176);
}
/* ------------------------------------------ABOUT */
#about{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .item{
    display: flex;
    flex-direction: column;
}

#about li{
    margin: 10px 0 10px 0;
    display: flex;
    list-style: none;
}

#about img{
    height: 48px;
    width: 48px;
    margin-right: 10px;
}

#about li p{
    margin-top: 5px;
    font-size: 14px;
}

/* ------------------------------------------PRICE */
#price{
    display: flex;
    justify-content: center;
}

#price .price-list{
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 10px;
    border-collapse: collapse;
}

#price .cost{
    width: 20%;
    text-align: center;
}

#price .number{
    width: 5%;
    text-align: center;
}

#price thead{
    background-color: #00987adc;
}

#price .price-list th,
#price .price-list td{
    padding: 12px 15px; 
}

#price .price-list tbody tr:last-of-type{
    border-bottom: 2px solid #00987a4f;
}
/* ------------------------------------------HOME */
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .post{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 10px;
}

#home .post > div{
    margin: 5px 10px 5px 10px;
} 

#home .post .date{
    display: flex;
    justify-content: flex-end;
}

/* ------------------------------------------FOOTER */
.footer{
    background-color: rgba(3, 38, 59, 0.6);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    margin-top: auto;
}

.footer .row{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: space-between;
}

.footer input{
    width: 98%;
    border-radius: 6px;
    height: 25px;
    margin-bottom: 10px;
}

.footer .inp-send{
    max-width: 100px;
    text-align: center;
}

.footer .inp-text{
    border-radius: 6px;
    margin-bottom: 10px;
    padding-left: 1px;
}

.footer p{
    font-size: 12px;
    margin-bottom: 3px;
}

.column{
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0px 20px;
}

.hamburger-menu{
    display: none;
    width: 100%;
    

}

.logo-media{
    display: none;
}

.logo-media h1{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .logo-media{
        display: block;
    }

    .header, .conteiner{
        width: 100%;
    }

    .line-menu{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }


    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: #616161;

        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;

        width: 300px;
        height: 100%;

        margin: 0;
        padding: 80px 0;

        list-style: none;

        background-color: #02263d;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;

        color: #333;

        font-size: 20px;
        font-weight: 600;

        text-decoration: none;

        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }

    
}