{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="data:;base64,=">
    <title>CTO-0.3</title>
</head>
<body>
    <header class="header">
        <nav class="line-menu">
            <ol>
                <li><a href="/home/">Главная</a></li>
                <li><a href="/price/">Список Услуг</a></li>
                <div class="logo">
                    <h1><a href="/home/">CTO-0.3</a></h1>
                </div>
                <li><a href="/about">О Нас</a></li>
                <li><a href="/admin/">Админка</a></li>
            </ol>
        </nav>
        <nav class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
        
            <ul class="menu__box">
                <li><a href="/home/" class="menu__item">Главная</a></li>
                <li><a href="/price/" class="menu__item">Список Услуг</a></li>
                <li><a href="/about" class="menu__item">О Нас</a></li>
                <li><a href="/admin/" class="menu__item">Админка</a></li>
            </ul>
            <div class="logo-media">
                <h1><a href="/home/">CTO-0.3</a></h1>
            </div>
        </nav>
        
        <!--  -->

          
        <!--  -->
    </header>
    <div class="conteiner">
        
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="column">
                <div class="row">
                    <h3>Кратко о нас</h3>
                </div>
                <div class="row">
                    <p>Имеем наилучшее современное оборудование и работаем только с качественными запчастями — возможно выбирать оригинал или аналог</p>
                </div>
                <div class="row">
                    <h3>Контакты</h3>
                </div>
                <div class="row">
                    <p><a href="#">(063) 621-65-87,</a> <a href="#">(063) 621-65-87</a></p>
                    <p>Харьков и Хaрьковская область</p>
                    <p><a href="#">google@fmail.com</a></p>
                </div>
            </div>
            <div class="column">
                <div class="row">
                    <h3>Мы на карте</h3>
                </div>
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10261.405687189796!2d36.22477764467856!3d49.98602056739778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0f3bd5c50af%3A0x13baf3c4b0a5ed59!2z0J_QvtC00L7Quywg0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDYxMDAw!5e0!3m2!1sru!2sua!4v1648629905929!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="column">
                <div class="row">
                    <h3>Напишите нам</h3>
                </div>
                <div class="row">
                    <input type="text" placeholder="Name">
                    <input type="email" name="e-mail" id="" placeholder="E-mail">
                    <textarea class="inp-text" placeholder="Сообщение..." rows="3"></textarea>
                    <input class="inp-send" type="btn" value="Отправить">
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
